@model TeamSpace.ViewModel.WorkFormViewModel
@{
  //  ViewBag.Title = "title";
}

<h2>Add a task</h2>
@using (Html.BeginForm("Create", "Works"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Location)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Date)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Time)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TaskName)
        @Html.DropDownListFor(m => m.TaskName, new SelectList(Model.TaskNames, "Id", "Name"), "", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.TaskName)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

